<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank" >Hexo</a>  |  Theme inspired by <a href="https://github.com/howiefh/hexo-theme-landscape-f" target="_blank" >Landscape-F</a>  |  Hosted at <a href="https://www.aliyun.com" target="_blank" >阿里云</a> & <a href="http://www.qiniu.com" target="_blank" >七牛云</a>
    <% if (theme.busuanzi){ %>
      <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
      <br>
      <span id="busuanzi_container_site_pv">
      本站由 <a href="http://canonxu.com/about/" target="_blank" ><%= config.author%></a> 倾情打造 | Copyright &copy;  <%= date(new Date(), 'YYYY') %>  <a href="http://www.miibeian.gov.cn" target="_blank">浙ICP备XXX号-1</a> | 本站总访问量 <span id="busuanzi_value_site_pv"></span> 次
      </span>
    <% } %>
    </div>
  </div>
</footer>
